body {
    color: white;
    background-color: #212124; /* #212124 */
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.5;
}

a {
    color: #2b9cde;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}