body {
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.5;
}

a {
    color: #0c69cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}